
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron" style="background: aliceblue"; >

    <div class="container mt-4">
        <h4 class>About Us</h4>
    </div>

</div>

<section id="about">


    <div class="container">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id, vero ratione deleniti provident ex, iure nemo animi, numquam iste exercitationem quae eum mollitia voluptate incidunt sunt. Voluptatem, natus nisi.</p>
    </div>


</section>