
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="jumbotron" style="background: aliceblue;">
    <div class="container mt-4" >
        <h4>Our Services</h4>
    </div>
    

</div>

<section id="service">

    <div class="container">
    
        <div class="row">      

                <div class="card col-md-4">
                    <img src="/images/service/catering.png" alt="" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h4 class="card-title">Catering Organizations</h4>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quaerat voluptates officiis tenetur earum ducimus ex?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quaerat voluptates officiis tenetur earum ducimus ex?
                        </p>

                    </div>

                </div>
                <div class="card col-md-4">
                    <img src="/images/service/fair.png" alt="" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h4 class="card-title">Fair Organizations</h4>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quaerat voluptates officiis tenetur earum ducimus ex?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quaerat voluptates officiis tenetur earum ducimus ex?
                        </p>

                    </div>

                </div>
                <div class="card col-md-4">
                    <img src="/images/service/avatar.png" alt="" class="card-img-top img-thumbnail">
                    <div class="card-header">
                        <h4 class="card-title">Models</h4>
                    </div>
                    <div class="card-body">

                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quaerat voluptates officiis tenetur earum ducimus ex?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.                           
                        </p>

                    </div>

                </div>

        </div>
 </div>

</section>

